---

import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";

import TimeLine from "@/components/TimeLine.astro";
import Projects from "@/components/Projects.astro";
import LastPosts from "@/components/LastPosts.astro";

import CopyEmail from "@/components/CopyEmail";
import BadgeSocial from "@/components/BadgeSocial.astro"

import { IconBrandGithub, IconBrandLinkedin, IconBrandDiscord, IconFileDescription, IconMapPin, IconBookmarks, IconNotification } from "@tabler/icons-react";

import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

---

<Layout title={i18n.SEO_TITLE}>
    <main class="px-4">
        <SectionContainer class="mt-20">
            <h1 class="-translate-x-0.5 sm:-translate-x-1 font-black w-full text-4xl lg:text-5xl xl:text-6xl">
                {i18n.PRESENTATION_TITLE}
            </h1>
            <div class="sm:flex items-center sm:space-x-2">
                <span class="text-xl sm:text-2xl font-semibold">
                    { i18n.PRESENTATION_DESCRIPTION }
                </span>
                <div class="flex gap-2">
                    <a href="https://linkedin.com/in/haiver/" target="_blank" rel="noreferrer" class='block w-max sm:inline text-green-500 animate-background-shine cursor-pointer justify-center rounded-md border border-green-500 bg-[linear-gradient(110deg,#22c55e1a,50%,#22c55e66,55%,#22c55e1a)] bg-[length:250%_100%] px-2.5 py-0.5 text-sm'>
                        {i18n.TAG_CHAMBA}
                    </a>
                    <span class="text-sm flex items-center gap-1 w-max">
                      <IconMapPin width={16} /> <span class="hidden sm:block">Colombia</span><span class="sm:hidden">COL</span> • GTM-4
                    </span>
                </div>
            </div>
            
            <div class="mt-6 max-w-[700px] text-lg sm:text-xl">
                <p class="text-pretty">
                    {i18n.PARAGRAPH_DESCRIPTION}
                </p>
                <div class="mt-2 flex gap-2">
                    <CopyEmail client:load />
                    <BadgeSocial href="https://linkedin.com/in/haiver/" class="">
                        <span class="hidden sm:block">
                            Linkedin
                        </span>
                        <IconBrandLinkedin width={16}/>
                    </BadgeSocial>
                    <BadgeSocial href="https://github.com/HaiveDev/" class="">
                        <span class="hidden sm:block">
                            GitHub
                        </span>
                        <IconBrandGithub width={16}/>
                    </BadgeSocial>
                    <BadgeSocial href="https://discord.com/users/897660552892002304/" class="">
                        <span class="hidden sm:block">
                            Discord
                        </span>
                        <IconBrandDiscord width={16}/>
                    </BadgeSocial>
                </div>
            </div>
        </SectionContainer>

        <SectionContainer id={i18n.HEADER.NAVBAR.EXPERIENCE} class="pt-14 mt-20">
            <h2 class="capitalize flex items-center space-x-4 mb-6">
                <span class="text-2xl sm:text-3xl font-semibold">
                    {i18n.HEADER.NAVBAR.EXPERIENCE}
                </span>
                <IconFileDescription width={32} height={32} />
            </h2>
            <TimeLine />
        </SectionContainer>

        <SectionContainer id={i18n.HEADER.NAVBAR.PROJECTS} class="pt-14 mt-20">
            <h2 class="capitalize flex items-center space-x-4 mb-6">
                <span class="text-2xl sm:text-3xl font-semibold">
                    {i18n.HEADER.NAVBAR.PROJECTS}
                </span>
                <IconBookmarks width={32} height={32} />
            </h2>
            <Projects />
        </SectionContainer>
        <SectionContainer class="pt-14 mt-20">
            <h2 class="capitalize flex items-center space-x-4 mb-6">
                <span class="text-2xl sm:text-3xl font-semibold">
                    Ultimos posts
                </span>
                <IconNotification width={32} height={32} />
            </h2>
            <LastPosts />
        </SectionContainer>
    </main>
</Layout>

