---
import { IconTimelineEventText, IconCode,  IconSmartHome, IconStack2, IconWriting, IconBook  } from "@tabler/icons-react"
import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

let ruta = ''
if (currentLocale !== 'es'){
    ruta = `${currentLocale}/`
}

const links = [
    { text: `${i18n.HEADER.NAVBAR.EXPERIENCE}`, url: `/${ruta}#${i18n.HEADER.NAVBAR.EXPERIENCE}`},
    { text: `${i18n.HEADER.NAVBAR.PROJECTS}`, url: `/${ruta}#${i18n.HEADER.NAVBAR.PROJECTS}` },
    { text: `${i18n.HEADER.NAVBAR.HOME}`, url: `/${ruta}#${i18n.HEADER.NAVBAR.HOME}` },
  ];
---

<div class="fixed z-50 bottom-0 pt-4 w-full text-color-primary md:hidden">
    
    <nav class="backdrop-blur-md bg-color-blur gap-1 grid grid-cols-5 items-center rounded-md rounded-b-none border border-gray-border p-2">
        
        <a class="text-center rounded-md rounded-bl-3xl capitalize p-2 transition-all ease-in-out hover:bg-white/5" href={links[0].url}>
            <IconTimelineEventText className="mx-auto" width={32} height={32}  />
            <span class="text-xs hidden sm:block" >{i18n.HEADER.NAVBAR.EXPERIENCE}</span>
            <span class="text-xs sm:hidden" >Exp...</span>
        </a>    
        <a class="text-center rounded-md capitalize p-2 transition-all ease-in-out hover:bg-white/5" href={links[1].url}>
            <IconCode className="mx-auto" width={32} height={32}  />
            <span class="text-xs" >{i18n.HEADER.NAVBAR.PROJECTS}</span>
        </a>    
        <a class="text-center rounded-md capitalize p-2 transition-all ease-in-out hover:bg-white/5" href={links[2].url}>
            <IconSmartHome className="mx-auto" width={32} height={32} />
            <span class="text-xs" >{i18n.HEADER.NAVBAR.HOME}</span>
        </a>    
        <a class="text-center rounded-md capitalize p-2 transition-all ease-in-out hover:bg-white/5" href='/blog'>
            <IconWriting className="mx-auto" width={32} height={32}  />
            <span class="text-xs" >Blog</span>
        </a>    
        <a class="text-center rounded-md rounded-br-3xl capitalize p-2 transition-all ease-in-out hover:bg-white/5" href='/stack'>
            <IconStack2 className="mx-auto" width={32} height={32}  />
            <span class="text-xs" >Stack</span>
        </a>    
    </nav>
    
</div>