---
import { IconArrowUpRight } from "@tabler/icons-react"
const StackHardware = [
    {
        img: 'acer-nitro-5',
        descripcion: 'Portátil Acer Nitro 5, Intel i5 10300H, RTX 3050, 32 GB RAM',
        link: 'https://www.amazon.com/acer-Nitro-procesador-i5-10300H-port%C3%A1tiles/dp/B09T55BJNM/ref=sr_1_1_sspa?crid=3AIE4H2T6PMCT&dib=eyJ2IjoiMSJ9.jWqsxqebxSHE5im91c4YGNWMWmbmVy58qdICS3TMHzGyxp_VAkClwwybmx0aW-zYi10ptYRzP92PKIsvTTC4D735ShPEzYfl6VvzrGmDb98m_iHbIkcE_dNs3RqXAZRDa30zWHkyi-sqY99WLc0mQex3xQusEmmKzDLCFy1zyatQ1epGJUX4R2iRJ8SZ5X9Xo6tKsEd1M4xl1Qv0Jkmf0GJOjZ-_NXFXzce_j8qb2cA.sKqLfD4-TCKvRfypNk-SrCyV9dmu_imoSYWDrCI6aeg&dib_tag=se&keywords=acer+nitro+5&qid=1718538247&sprefix=hacer+nitro+%2Caps%2C154&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1&smid=A2HR3WADFB8IU9',
        iconStyle: ''
    },
    {
        img: 'janus-2k-165hz-monitor',
        descripcion: 'Monitor Janus 32", 165Hz, 2K',
        link: '',
        iconStyle: 'hidden'
    },
    {
        img: 'g502-mouse-hero',
        descripcion: 'Mouse Logitech G502 Hero',
        link: 'https://www.logitechg.com/es-es/products/gaming-mice/g502-hero-gaming-mouse.910-005471.html',
        iconStyle: ''
    },
    {
        img: 'g512-keyboard',
        descripcion: 'Teclado mecánico Logitech G512 Carbon',
        link: 'https://www.logitechg.com/es-es/products/gaming-keyboards/g512-mechanical-gaming-keyboard.html',
        iconStyle: ''
    },
    {
        img: 'g733-headset-black',
        descripcion: 'Auriculares Logitech G733 LightSpeed',
        link: 'https://www.logitechg.com/es-mx/products/gaming-audio/g733-rgb-wireless-headset.981-000863.html',
        iconStyle: ''
    },
    {
        img: 'soundcore-liberty-air-2-pro',
        descripcion: 'Auriculares Soundcore Liberty Air 2 Pro',
        link: 'https://www.amazon.com/Soundcore-Cancelling-Technology-Personalized-Bluetooth/dp/B08G4K8CY8?th=1',
        iconStyle: ''
    }
];

---

<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 h-full">
   

    {StackHardware.map((hardware)=>(

        <div class="group relative p-4 rounded-md border border-gray-border  transform transition-transform hover:bg-[#ffffff05]">
            <a target="_blank" rel="noreferrer" href={hardware.link} class={`${hardware.iconStyle} z-10 top-0 right-0 absolute w-full h-full rounded-md`}></a>
            <IconArrowUpRight className={`${hardware.iconStyle} absolute top-2 right-2 transition-all duration-300 group-hover:translate-x-[2px] text-color-subtle group-hover:text-color-primary`} width={16} height={16}/>
            <div class="p-4 w-full flex justify-center">
                <img src={`https://cdn.haiver.dev/imgs/stack/${hardware.img}.webp`} alt={hardware.descripcion} class="h-32 rounded-md drop-shadow-2xl">
            </div>
            <p class="text-pretty text-color-secondary text-center text-sm">{hardware.descripcion}</p>
        </div>
    ))}
    
</div>