---
import { IconArrowUpRight } from "@tabler/icons-react";

const StackSofware = [
    {
        img: "astro",
        descripcion: "Astro",
        link: "https://astro.build/",
        iconStyle: "",
    },
    {
        img: "angular",
        descripcion: "Angular",
        link: "https://angular.dev/",
        iconStyle: "",
    },
    {
        img: "tailwindcss",
        descripcion: "TailwindCSS",
        link: "https://tailwindcss.com/",
        iconStyle: "",
    },
    {
        img: "jwt",
        descripcion: "Jwt",
        link: "https://jwt.io/",
        iconStyle: "",
    },
    {
        img: "nodejs",
        descripcion: "Node.js",
        link: "https://nodejs.org/",
        iconStyle: "",
    },
    {
        img: "djs",
        descripcion: "Discord.js",
        link: "https://discord.js.org/",
        iconStyle: "",
    },
    {
        img: "javascript",
        descripcion: "JavaScript",
        link: "https://developer.mozilla.org/es/docs/Web/JavaScript",
        iconStyle: "",
    },
    {
        img: "typescript",
        descripcion: "TypeScript",
        link: "https://www.typescriptlang.org/",
        iconStyle: "",
    },
    {
        img: "docker",
        descripcion: "Docker",
        link: "https://www.docker.com/",
        iconStyle: "",
    },
    {
        img: "wordpress",
        descripcion: "WordPress",
        link: "https://wordpress.org/",
        iconStyle: "",
    }
];

const StackDiseno = [
    {
        img: "figma",
        descripcion: "Figma",
        link: "https://www.figma.com/",
        iconStyle: "",
    },
    {
        img: "blender",
        descripcion: "Blender",
        link: "https://www.blender.org/",
        iconStyle: "",
    },
]
const StackComunication = [
    {
        img: "discord",
        descripcion: "Discord",
        link: "https://discord.com/",
        iconStyle: "",
    },
]
const StackMusic = [
    {
        img: "spotify",
        descripcion: "Spotify",
        link: "https://open.spotify.com/",
        iconStyle: "",
    },
]
---
<h3 class="text-sm text-color-subtle mb-2">Desarrollo</h3>
<div class="grid h-full grid-cols-3 gap-4 sm:grid-cols-5 md:grid-cols-6">
    {
        StackSofware.map((sofware) => (
            <div class="group relative transform rounded-md border border-gray-border p-4 transition-transform hover:bg-[#ffffff05]">
                <a target="_blank" rel="noreferrer" href={sofware.link} class={`${sofware.iconStyle} z-10 absolute top-0 right-0 w-full h-full rounded-md`}/>
                <IconArrowUpRight className={`${sofware.iconStyle} absolute top-2 right-2 transition-all duration-300 group-hover:translate-x-[2px] text-color-subtle group-hover:text-color-primary`}
                    width={16}
                    height={16}
                />
                <div class="flex h-full flex-col justify-between">
                    <div class="flex w-full justify-center items-center p-4">
                        <img src={`icons/stack/${sofware.img}.svg`} alt={sofware.descripcion} class="w-32 md:h-10 h-20 rounded-md drop-shadow-2xl"/>
                    </div>
                    <div class="flex flex-grow items-end justify-center">
                        <p class="text-pretty text-center text-sm text-color-secondary">
                            {sofware.descripcion}
                        </p>
                    </div>
                </div>
            </div>
        ))
    }
</div>

<h3 class="text-sm text-color-subtle mb-2 mt-8">Diseño</h3>
<div class="grid h-full grid-cols-3 gap-4 sm:grid-cols-5 md:grid-cols-6">
    {
        StackDiseno.map((diseno) => (
            <div class="group relative transform rounded-md border border-gray-border p-4 transition-transform hover:bg-[#ffffff05]">
                <a target="_blank" rel="noreferrer" href={diseno.link} class={`${diseno.iconStyle} z-10 absolute top-0 right-0 w-full h-full rounded-md`}/>
                <IconArrowUpRight className={`${diseno.iconStyle} absolute top-2 right-2 transition-all duration-300 group-hover:translate-x-[2px] text-color-subtle group-hover:text-color-primary`}
                    width={16}
                    height={16}
                />
                <div class="flex h-full flex-col justify-between">
                    <div class="flex w-full justify-center p-4">
                        <img src={`icons/stack/${diseno.img}.svg`} alt={diseno.descripcion} class="w-32 md:h-10 h-20 rounded-md drop-shadow-2xl"/>
                    </div>
                    <div class="flex flex-grow items-end justify-center">
                        <p class="text-pretty text-center text-sm text-color-secondary">
                            {diseno.descripcion}
                        </p>
                    </div>
                </div>
            </div>
        ))
    }
</div>

<h3 class="text-sm text-color-subtle mb-2 mt-8">Comunicación</h3>
<div class="grid h-full grid-cols-3 gap-4 sm:grid-cols-5 md:grid-cols-6">
    {
        StackComunication.map((comunication) => (
            <div class="group relative transform rounded-md border border-gray-border p-4 transition-transform hover:bg-[#ffffff05]">
                <a target="_blank" rel="noreferrer" href={comunication.link} class={`${comunication.iconStyle} z-10 absolute top-0 right-0 w-full h-full rounded-md`}/>
                <IconArrowUpRight className={`${comunication.iconStyle} absolute top-2 right-2 transition-all duration-300 group-hover:translate-x-[2px] text-color-subtle group-hover:text-color-primary`}
                    width={16}
                    height={16}
                />
                <div class="flex h-full flex-col justify-between">
                    <div class="flex w-full justify-center p-4">
                        <img src={`icons/stack/${comunication.img}.svg`} alt={comunication.descripcion} class="w-32 md:h-10 h-20 rounded-md drop-shadow-2xl"/>
                    </div>
                    <div class="flex flex-grow items-end justify-center">
                        <p class="text-pretty text-center text-sm text-color-secondary">
                            {comunication.descripcion}
                        </p>
                    </div>
                </div>
            </div>
        ))
    }
</div>

<h3 class="text-sm text-color-subtle mb-2 mt-8">Musica</h3>
<div class="grid h-full grid-cols-3 gap-4 sm:grid-cols-5 md:grid-cols-6">
    {
        StackMusic.map((music) => (
            <div class="group relative transform rounded-md border border-gray-border p-4 transition-transform hover:bg-[#ffffff05]">
                <a target="_blank" rel="noreferrer" href={music.link} class={`${music.iconStyle} z-10 absolute top-0 right-0 w-full h-full rounded-md`}/>
                <IconArrowUpRight className={`${music.iconStyle} absolute top-2 right-2 transition-all duration-300 group-hover:translate-x-[2px] text-color-subtle group-hover:text-color-primary`}
                    width={16}
                    height={16}
                />
                <div class="flex h-full flex-col justify-between">
                    <div class="flex w-full justify-center p-4">
                        <img src={`icons/stack/${music.img}.svg`} alt={music.descripcion} class="w-32 md:h-10 h-20 rounded-md drop-shadow-2xl"/>
                    </div>
                    <div class="flex flex-grow items-end justify-center">
                        <p class="text-pretty text-center text-sm text-color-secondary">
                            {music.descripcion}
                        </p>
                    </div>
                </div>
            </div>
        ))
    }
</div>
